<%= form_with model: button do |form| %>
    <div>
        <%= form.label :uuid %><br>
        <%= form.text_field :uuid %>
    </div>

    <div>
        <%= form.label :is_active, "Button is inactive" %>: 
        <%= form.check_box :is_active, { checked: false }, false, true %>
    </div>

    <div>
        <%= form.label :reason %><br>
        <%= form.select :reason, reasons, selected: reason %>
    </div>

    <div>
        <%= form.label :developer %><br>
        <%= form.select :developer, developers, selected: developer %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>