<h1>New Button</h1>

<% pp @reasons %>
<% pp "errors incoming" %>
<% pp @button.errors %>

<%= form_with model: @button do |form| %>
    <div>
        <%= form.label :uuid %><br>
        <%= form.text_field :uuid %>
    </div>

    <div>
        <%= form.label :is_active, "Button is inactive" %>: 
        <%= form.check_box :is_active, { checked: false }, false, true %>
    </div>

    <div>
        <%= form.label :reason %><br>
        <%= form.select :reason, @reasons %>
        <% if @button.errors.any? %>
            <p> There is supposed to be an error here </p>
            <div>
                <% @button.errors.full_messages_for(:reason).each do |error| %>
                    <div> <%= error %> </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <div>
        <%= form.label :developer %><br>
        <%= form.select :developer, @developers %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>