<h1>Button number <%= @button.id %></h1>

<p>
    <strong>UUID: </strong><%= @button.uuid %>
    <br>
    <strong>Is active: </strong><%= @button.is_active %>
</p>
<br>

<p>
    <strong>Associated reason: </strong><%= @reason.reason %>
    <br>
    <%# <strong>Is active: </strong><%= @button.is_active %>
</p>